.btn{
    border: none;
    outline: none;
    background-color: black;
    padding: 10px 14px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.btn:hover{
    opacity: 0.8;
    transition: 0.4s;
}