.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 15px 0px;
}

.circleInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(239, 232, 232);
}
.circleInner h2{
    font-weight: bold;
    font-size: 30px;
}

.fullCircle{
    color: #10b981;
}
.halfCircle{
    color: #f59e0b;
}
.emptyCircle{
    color: var(--text);
}
